.buttonRound {
    background-color: #232b38;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 8px;

}
.buttonRoundGold {
    background-color: #eebf00;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 8px;

}

.backgroundGris{
    background-color: #f0f0f0;
}
.backgroundBlanco {
    background-color: #ffffff;

}
.backgroundBlue {
    background-color: #343c47;
}
.backgroundGold {
    background-color: #eebf00;
}
.btn-holder {
    justify-content: flex-end;
    display: flex;
    position: relative;
    bottom: -20%;
  }

.textGold {
   color: #eebf00;
  }

 .textDeepBlue {
      color: #232b38;
  }

.textFieldSpaced {
    margin-bottom: 10px;
  }
.backgroundGris2{
    background-color: #d1d1d1;
}
  
.paddingZero {
    padding: 0px;
    margin-left: 0%;
}

.padding75 {
    padding: 75px;
}
.buttons {
    width: 100%;
    margin: 0 auto;
    display: inline;
}
    
.action_btn {
    width: 100%;
    margin: 0 auto;
    display: inline;
}

.box{
    width:600px;
    margin:0 auto;
    border:1px solid #ccc;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #232b38;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table thead tr {
    background-color: #232b38;
    color: #ffffff;
    text-align: left;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #232b38;
}

/* Seccion para responsividad */ 
@media mobile and (max-width:800px){
    body{
        width: 100%;
    }
}
